{{ 'shop-the-look.css' | asset_url | stylesheet_tag }}
{{ 'splide.min.css' | asset_url | stylesheet_tag }}
<script src = '{{ 'splide.min.js' | asset_url }}' defer ></script>
<script src = '{{ 'custom-splide-slide.js' | asset_url }}' defer ></script>

{% style %}
  .padding-{{ section.id }} {
    padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
    padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
  }

  @media (min-width: 750px) {
    .padding-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
.image-with-text__box{
    background : {{ section.settings.background_color}}
}
.background-{{ section.id }}{
  background-color: {{ section.settings.section_background }}
}
{% for block in section.blocks  %}
   .shop-look__position-{{ block.id }}{
      left:{{ block.settings.left_position}}%;
      top: {{ block.settings.top_position }}%;
  
}
{%  endfor %}
  
{% endstyle %}

{% capture shopLookSliderOption  %}
{
    "perPage": 1,
    "gap": "20px",
    "pagination": false,
    "pagination": false,
  }
{% endcapture %}


<div class="shop-with-look padding-{{ section.id }}">
    <div class="page-width">
     <h2 class="h2">
        {{ section.settings.title_text }}
      </h2>
        <div class="grid grid--1-col grid--2-col-tablet grid--2-col-desktop background-{{ section.id }}">
          <div class="grid__item">

          <div class="shop-look__image">
            {% if section.settings.image  != blank %}
                 {%  render 'image'  desktopImage:section.settings.image, mobileImage:section.settings.mobile_image, class: "media media--square" %}   
            {% else %}
                <div class="media media--square">
                {{ 'image' |  placeholder_svg_tag }}
                </div>
            {% endif %}
           {% for block in section.blocks %}
                <div class="shop-look__dot shop-look__position-{{ block.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none" class="icon-circle">
                        <circle class="icon-circle" cx="5.5" cy="5.5" r="5.5" fill="currentColor"></circle>
                    </svg>
                </div>
              {% endfor %}

          </div>

          </div>

          <div class="grid__item">
            <custom-slider class ="shop-look__slide__container">
                <section class="splide shop-look__slide" aria-label="Splide Basic HTML Example" data-options="{{ shopLookSliderOption }}">
                    <div class="splide__track">
                      <ul class="splide__list">    
                      {% for blocks in section.blocks %}
                        {% assign product = all_products[blocks.settings.product] %}
                            {% if product.title != blank %}
                                <li class="splide__slide">
                                    <div>
                                        {%  render 'image'  desktopImage:product.featured_image, mobileImage:product.featured_image, class: "media media--square" %}
                                        <h3>{{ product.title }}</h3>
                                        <span>{{ product.vendor }}</span>
                                        <h4>{{ product.price | money_without_trailing_zeros }}</h4>
                                    </div>
                                </li>
                            {% endif %}
                          {% else %}
                            {% for i in (1..5) %}
                              <li class="splide__slide custom-product-list-slider__card">
                                <div class="grid__item">
                                    <div class="media media--square">
                                    {{ 'product-' | append: i | placeholder_svg_tag }}
                                    </div>
                                </div>
                              </li> 
                            {% endfor %}
                          {% endfor %}                          
                      </ul>
                    </div>
                  </section>

                
            
            </custom-slider>
            
          </div>

        </div>

    </div>

</div>


{% schema %}
{
    "name": "Shop With Look",
    "settings": [
         {
            "type": "color",
            "default": "#f5f5f7",
            "label": "Section Background Color",
            "id": "section_background"
        },
         {
            "type": "text",
            "default": "Look of the Day",
            "label": "Title of the Section",
            "id": "title_text"
        },
        {
            "type": "image_picker",
            "label": "Desktop Image",
            "id": "image",
            "info": "Desktop image size (650*650)"
        },
        {
             "type": "image_picker",
            "label": "Mobile Image",
            "id": "mobile_image",
            "info": "Mobile image size (450*450)"
        },
         
      {
        "type": "header",
        "content": "Section padding"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding bottom",
        "default": 36
      }    
        ],
  "blocks": [
    {
      "type": "product-content",
      "name": "Product Content",
      "settings": [
   {
    "type": "product",
    "id":"product",
    "label": "Choose Product"
   },
   {
    "type": "range",
    "id": "left_position",
    "label": "Distance from the left",
    "min": 0,
    "max": 100,
    "step": 1,
    "default": 20,
    "info": "The distance is measured in percentage"
   },
   {
    "type": "range",
    "id": "top_position",
    "label": "Distance from the Top",
    "min": 0,
    "max": 100,
    "step": 1,
    "default": 20,
    "info": "The distance is measured in percentage"
   }
      ]
    }
  ],
    "presets": [
        {
            "name": "Shop With Look"
        }
    ]
}
{% endschema %}














